
.main-ctn{
    height:100vh;
    width:100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.number{
    font-family: sans-serif;
    color: white;
    font-size: 100px;
}

.increase,.decrease{
    width: 220px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.increase{
    background-color: green;
    color: white;

}

.decrease{
    background-color: red;
    color: white;
}

.warning-box{
    height:300px;
    width: 600px;
    background-color:rgb(255, 255, 255);
    opacity: 1;
    margin-left: -40px;
    display: flex;
    position: absolute;
    margin-top: -200px;
   
}

.warning{    
    margin-top: 110px;
    margin-left: 150px;
    position: fixed;
    color: rgb(0, 0, 0);
}
.close{
    font-size: 20px;
    height: 20px;
    width: 20px;
    border: none;
    margin-left: 580px;
    cursor: pointer;
    color: white;
    background-color: red;
    position: fixed;
}

.hr{
    color: black;
    width:70%
    
}